body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0b2c5a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #d4af37;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

nav button:hover {
    background: #b8962e;
}

.seccion {
    display: none;
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.activa {
    display: block;
}
